# .NET Core
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.vs/
.vscode/
*.dbmdl
*.log
*.pdb
*.cache
*.config
*.ide
*.sln.ide
*.ncrunch*
_ReSharper*/
[Tt]est[Rr]esult*/
*.nupkg
*.snupkg
*.publish/
*.swp
*.tmp
*.bak
*.orig
*.vspscc
*.vssscc
*.scc
*.DotSettings.user
*.DotSettings
project.lock.json
project.fragment.lock.json
artifacts/
